/* copy this page and add it to your main style sheet */

.blog {
  font-size: 14px;
  padding: 0px!important;
  margin:0px!important;
  font-family: 'Open Sans', sans-serif;
  p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    @include font-size(25px);
    line-height: 1.6;
    q{
      display:block;
      margin:20px 5px;
      color:$l-dark-grey;
      font-style: italic;
      &.orange{
        color:$l-orange;
      }
    }
    a.l-link{
      cursor:pointer;
      color:$l-orange;
    }
  }
  h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    @include font-size(50px);
    line-height: 1.5;
  }
  h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    @include font-size(34px);
    line-height: 1.5;
  }
  h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    @include font-size(32px);
    line-height: 1.5;
  }
}

// main advert area

.l-advert-area{
  display:flex;
  padding: 30px;
  .ad-container {
    display:flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 80px;
    background: $l-orange;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    p{
      margin:0px;
    }
  }
}

/*reusable styles*/

.readme{
  display:flex;
  flex-flow: column;
  text-decoration: none!important;
  width:100%;
}

.readmore {
  display: flex;
  justify-content: center;
  color: #fff;
  background: $l-orange;
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 40;
  &:hover{
    background:$l-white;
    color:$l-orange;
  }
    //medium screens up
    @include bp-medium {
      align-self:flex-start;
    } 
  }

  /*feature-article*/

  .l-feature-article {
    display: flex;
    flex-flow:column;
    align-items:flex-start;
    justify-content: center;
    flex:1 100%;
    width:100%;
    position: relative;
    height:500px;
    margin: 0px 0px 30px;
  //change the url to match new background image
  background: url('../imgs/tools1.jpg');
  background-size:cover;
  background-position:center;
  &:after{
    content:'';
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background:$l-black;
    opacity: 0.7;
    z-index: 1; 
    transition: all 0.4s ease-in;
  }
  p{
    width:100%;
    max-width: 950px;
  }
  .readme{
    &:hover{
      h1,p{
        color:$l-dark-grey;
      }
    }
  }
  & .feature-details {
    display: flex;
    flex-flow:column wrap;
    align-items:flex-start;
    width:100%;
    padding: 0px 30px 0px;
    height:auto;
    z-index: 2;
    h1, p {
      color:$l-white;
      transition:all 0.2s ease-in-out;
      margin-bottom:15px;
    }
  }
}



/*article list*/

.l-articles {
  display: flex;
  flex-flow: row;
  position:relative;
  background: $l-grey;
  padding: 30px;
  margin: 0px 0px 30px;
  .readme{
    h1,p{
      color:$l-black;
    }
    &:hover{
      h1,p{
        color:$l-darkest-grey;
      }
    }
    //medium screens up
    @include bp-medium {
      flex-flow: row;
    } 
  }
  .articles-link{
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    z-index: 2; 
    transition: all 0.4s ease-in;
  }
  .article-image{
    display:flex;
    flex-flow: column;
    width:100%;
    height:100%;
    @include bp-medium {
      width:250px;
      min-width: 250px;
      height:250px;
      margin-right: 30px;
    } 
    img{
      width: 100%;
      height:100%!important;
    }
  }
  .article-details{
    display:flex;
    flex-flow: column; 
    width:100%;
    h1, p{
      margin-bottom:15px;
    }
  }
  .readmore{
    background:$l-grey;
    border: 1px $l-black solid;
    color:$l-black;
    &:hover{
      background:$l-black;
      color:$l-grey;
    }
  }
}





