/* start styling it up! */

html, body {
  height: 100%;
}

body {
  padding: 40px;
  color: white;
  background: linear-gradient(-35deg, rgba(238, 119, 82, .8), rgba(231, 60, 126, .8), rgba(35, 166, 213, .8));
}